n8n
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat-test",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -224,
        -256
      ],
      "id": "e63876c1-97de-4907-9df8-f075d22cc136",
      "name": "Webhook1",
      "webhookId": "52b9988d-9d1e-4c64-832b-6d505e3f3b1e"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer API KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "HTTP-Referer",
              "value": "http://localhost"
            },
            {
              "name": "X-Title",
              "value": "n8n-chat"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2256,
        -176
      ],
      "id": "db9462c8-6d91-4ffa-96c4-c727037666b7",
      "name": "HTTP Request1",
      "retryOnFail": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1152,
        -240
      ],
      "id": "c30bf0ea-c6be-4eda-8116-a3cd463232a5",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nconst userMessage = data.userMessage;\nconst results = data.results || [];\nconst totalFound = data.totalFound || 0;\n\n// =======================\n// 1. GUARD: KHÔNG CÓ DATA\n// =======================\nif (!totalFound || totalFound === 0) {\n  return [{\n    json: {\n      model: \"llama-3.1-8b-instant\",\n      messages: [\n        {\n          role: \"user\",\n          content:`Hãy nói với người dùng là: \"Nội dung bạn gửi không hợp lệ\"`\n        }\n      ]\n    }\n  }];\n}\n\n// =======================\n// 2. LIMIT DATA (GIẢM TOKEN)\n// =======================\nconst limitedResults = results.slice(0, 5);\n\n// =======================\n// 3. PAYLOAD GROQ\n// =======================\nreturn [{\n  json: {\n    model: \"llama-3.1-8b-instant\",\n    messages: [\n      {\n        role: \"user\",\n        content:\n`Người dùng hỏi: ${userMessage}\n\nDữ liệu tìm thấy (${limitedResults.length} kết quả):\n${JSON.stringify(limitedResults)}\n\nChỉ được trả lời dựa trên dữ liệu trên.\nNếu không khớp trả lời: \"Nội dung bạn gửi không hợp lệ\".`\n      }\n    ]\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2032,
        -80
      ],
      "id": "50a28d7f-a807-487e-8b07-32ff8cb33339",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\n// =======================\n// 1. TÁCH WEBHOOK\n// =======================\nconst webhookItem = items.find(\n  i => typeof i.json?.body?.message === 'string'\n);\n\nif (!webhookItem) {\n  throw new Error('Không tìm thấy message từ webhook');\n}\n\nconst userMessageRaw = webhookItem.json.body.message;\nconst userMessage = userMessageRaw.toLowerCase();\n\n// =======================\n// 2. TÁCH CACHE (BẮT BUỘC CÓ cache_key)\n// =======================\nconst scheduleCacheItem = items.find(\n  i =>\n    i.json?.cache_key === 'sheet_cache' &&\n    Array.isArray(i.json?.cache)\n);\n\nconst ctdtCacheItem = items.find(\n  i =>\n    i.json?.cache_key === 'ctdt_cache' &&\n    Array.isArray(i.json?.cache)\n);\n\n// Guard rõ ràng để phát hiện lỗi workflow\nif (!scheduleCacheItem && !ctdtCacheItem) {\n  throw new Error(\n    'Không tìm thấy cache nào có cache_key (sheet_cache / ctdt_cache)'\n  );\n}\n\nconst sheetData = scheduleCacheItem?.json?.cache || [];\nconst ctdtData = ctdtCacheItem?.json?.cache || [];\n\n// =======================\n// 3. DETECT INTENT CTĐT\n// =======================\nconst isCheckCTDT =\n  userMessage.includes('học thêm') ||\n  userMessage.includes('có cần học') ||\n  userMessage.includes('có phải học') ||\n  userMessage.includes('bắt buộc') ||\n  userMessage.includes('tự chọn') ||\n  userMessage.includes('đã đủ') ||\n    userMessage.includes('đăng ký') ||\n  userMessage.includes('còn thiếu');\n\n// =======================\n// 4. NẾU LÀ CTĐT → KHÔNG FILTER LỊCH\n// =======================\nif (isCheckCTDT) {\n  if (!ctdtData.length) {\n    throw new Error('ctdt_cache rỗng hoặc chưa được gắn cache_key');\n  }\n\n  return [\n    {\n      json: {\n        intent: 'CHECK_CTDT',\n        userMessage: userMessageRaw,\n        ctdtData,\n        totalCTDT: ctdtData.length\n      }\n    }\n  ];\n}\n\n// =======================\n// ===== LOGIC LỊCH HỌC =====\n// =======================\n\n// Guard: thiếu cache lịch học\nif (!sheetData.length) {\n  throw new Error('sheet_cache rỗng hoặc chưa được gắn cache_key');\n}\n\n// =======================\n// 5. TÁCH KEYWORD MÔN HỌC\n// =======================\nconst subjectMatch = userMessage.match(\n  /(nhập môn|cơ sở dữ liệu|lập trình|java|python|thực hành|đại số|giải tích)/gi\n);\n\nconst subjectKeyword = subjectMatch\n  ? subjectMatch[0]\n  : '';\n\n// =======================\n// 6. NORMALIZE\n// =======================\nfunction normalize(str = '') {\n  return str\n    .toString()\n    .toLowerCase()\n    .normalize('NFD')\n    .replace(/[\\u0300-\\u036f]/g, '');\n}\n\nconst normalizedMessage = normalize(userMessage);\nconst normalizedSubject = normalize(subjectKeyword);\n\n// =======================\n// 7. MAP NGÀY HỌC\n// =======================\nconst dayMap = {\n  'thứ hai': 'thứ hai',\n  'thu hai': 'thứ hai',\n  't2': 'thứ hai',\n\n  'thứ ba': 'thứ ba',\n  'thu ba': 'thứ ba',\n  't3': 'thứ ba',\n\n  'thứ tư': 'thứ tư',\n  'thu tu': 'thứ tư',\n  't4': 'thứ tư',\n\n  'thứ năm': 'thứ năm',\n  'thu nam': 'thứ năm',\n  't5': 'thứ năm',\n\n  'thứ sáu': 'thứ sáu',\n  'thu sau': 'thứ sáu',\n  't6': 'thứ sáu',\n\n  'thứ bảy': 'thứ bảy',\n  'thu bay': 'thứ bảy',\n  't7': 'thứ bảy'\n};\n\nlet dayKeyword = '';\n\nfor (const key in dayMap) {\n  if (normalizedMessage.includes(normalize(key))) {\n    dayKeyword = dayMap[key];\n    break;\n  }\n}\n\n// =======================\n// 8. FILTER LẦN 1: THEO MÔN\n// =======================\nconst subjectFiltered = sheetData.filter(row => {\n  if (!row?._search) return false;\n  if (!normalizedSubject) return true;\n\n  return normalize(row._search).includes(normalizedSubject);\n});\n\n// =======================\n// 9. FILTER LẦN 2: THEO NGÀY\n// =======================\nconst finalFiltered = dayKeyword\n  ? subjectFiltered.filter(row =>\n      normalize(row._search).includes(normalize(dayKeyword))\n    )\n  : subjectFiltered;\n\n// =======================\n// 10. RETURN LỊCH HỌC\n// =======================\nreturn [\n  {\n    json: {\n      intent: 'CHECK_SCHEDULE',\n      userMessage,\n      subjectKeyword,\n      dayKeyword,\n      results: finalFiltered.slice(0, 20),\n      totalFound: finalFiltered.length\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1376,
        -240
      ],
      "id": "41001970-39a0-4fcf-9b56-ca9a538ff978",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "jsCode": "const inputJson = $input.first().json;\n\nif (!inputJson?.data) {\n  throw new Error('Cache chưa được khởi tạo. Hãy chạy workflow cache trước.');\n}\n\nlet cache;\ntry {\n  cache = JSON.parse(inputJson.data);\n} catch (e) {\n  throw new Error('Cache bị lỗi JSON.');\n}\n\nreturn [\n  {\n    json: {\n      cache_key: inputJson.cache_key, // giữ lại duy nhất field cần cho JS2\n      cache,\n      total: inputJson.total,\n      updatedAt: inputJson.updatedAt\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        -32
      ],
      "id": "4df003cc-b0da-461e-a3ea-27a319f30174",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -240,
        496
      ],
      "id": "d142cc0f-d65b-4f9c-98bf-5432c55cbffb",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -240,
        720
      ],
      "id": "c536a84c-5e7d-4bc6-993e-c61d1aec2a16",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "jsCode": "// items: array các row từ nhiều sheet sau Merge (Append)\n\n// Chuẩn hoá + tạo search index\nconst normalized = items.map(i => {\n  const { row_number, ...rest } = i.json; // bỏ row_number\n\n  // Gộp toàn bộ giá trị text để search\n  const searchText = Object.values(rest)\n    .filter(v => typeof v === 'string' || typeof v === 'number')\n    .join(' ')\n    .toLowerCase();\n\n  return {\n    json: {\n      ...rest,      // không còn row_number\n      _search: searchText\n    }\n  };\n});\n\nreturn normalized;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        576
      ],
      "id": "f75b18eb-0007-42c4-a77f-4a6efebcbe6e",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "srL4d3lQy5f8UCV1",
          "mode": "list",
          "cachedResultName": "sheet_cache",
          "cachedResultUrl": "/projects/vBeG3fbFFxc8Ej4R/datatables/srL4d3lQy5f8UCV1"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "cache_key",
              "keyValue": "sheet_cache"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "data": "={{ JSON.stringify($json.data) }}",
            "total": "={{ $json.total }}",
            "cache_key": "={{ 'sheet_cache' }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "cache_key",
              "displayName": "cache_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "total",
              "displayName": "total",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        1360,
        480
      ],
      "id": "5f771581-3c53-452c-a105-0a63d2f25ea1",
      "name": "Upsert row(s)"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "srL4d3lQy5f8UCV1",
          "mode": "list",
          "cachedResultName": "sheet_cache",
          "cachedResultUrl": "/projects/vBeG3fbFFxc8Ej4R/datatables/srL4d3lQy5f8UCV1"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "cache_key",
              "keyValue": "sheet_cache"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        320,
        -16
      ],
      "id": "5c6cfdc7-d14e-4fbb-a468-388b8e0213f5",
      "name": "Get row(s)"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        624,
        496
      ],
      "id": "21e797d9-1b3f-4970-a92d-8ecaa8e943d3",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "17XCuec_vzvLBH7ZMiFC5PgyrFcL_Rvl1qvbOkUnXXxk",
          "mode": "list",
          "cachedResultName": "n8n-test-2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17XCuec_vzvLBH7ZMiFC5PgyrFcL_Rvl1qvbOkUnXXxk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $json.sheetName }}",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        832,
        576
      ],
      "id": "3039639d-add9-47d7-b0e3-f79a43afd427",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "IJ7ketXaIkRYomuV",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const sheets = items[0].json.sheets || [];\n\nreturn sheets.map(s => ({\n  json: {\n    sheetName: s.properties.title\n  }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        368,
        496
      ],
      "id": "66bf0a2e-f931-4c70-bce8-0aa51a0aafc6",
      "name": "Code in JavaScript4"
    },
    {
      "parameters": {
        "jsCode": "// Gom toàn bộ items thành 1 item duy nhất\nconst all = items.map(i => i.json);\n\nreturn [\n  {\n    json: {\n      data: all,\n      total: all.length,\n      cache_key: 'sheet_cache'\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        976,
        480
      ],
      "id": "4d882590-2aa8-43ac-aea9-0a0ed42fbf87",
      "name": "Code in JavaScript5"
    },
    {
      "parameters": {
        "url": "https://sheets.googleapis.com/v4/spreadsheets/17XCuec_vzvLBH7ZMiFC5PgyrFcL_Rvl1qvbOkUnXXxk",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        96,
        496
      ],
      "id": "101e3882-857f-461f-8ee4-d99062fe5fef",
      "name": "HTTP Request",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "IJ7ketXaIkRYomuV",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -224,
        1040
      ],
      "id": "e56ad2a3-5abc-4a12-866e-08d1a4dc853a",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "jsCode": "const normalized = items.map(i => {\n  const { row_number, ...rest } = i.json;\n\n  const searchText = Object.values(rest)\n    .filter(v => typeof v === 'string' || typeof v === 'number')\n    .join(' ')\n    .toLowerCase();\n\n  return {\n    json: {\n      ...rest,\n      _search: searchText\n    }\n  };\n});\n\nreturn normalized;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        1040
      ],
      "id": "7c4b46ba-55e1-4e63-a34b-830967fe404d",
      "name": "Code in JavaScript6"
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "cwaeD2IY9JjRq8kr",
          "mode": "list",
          "cachedResultName": "ctdt_cache",
          "cachedResultUrl": "/projects/vBeG3fbFFxc8Ej4R/datatables/cwaeD2IY9JjRq8kr"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "cache_key",
              "keyValue": "ctdt_cache"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "data": "={{ JSON.stringify($json.data) }}",
            "total": "={{ $json.total }}",
            "cache_key": "={{ 'ctdt_cache' }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "cache_key",
              "displayName": "cache_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "total",
              "displayName": "total",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        1376,
        944
      ],
      "id": "087700e2-0515-48b1-abb2-15934b679bb7",
      "name": "Upsert row(s)1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        640,
        960
      ],
      "id": "a65b2a08-42c3-4d1e-88d6-44992b7e499f",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1KYVqHXbH1cnVG_rrqrA4-9ny1GFJx1JfW5uj67FpMiM",
          "mode": "list",
          "cachedResultName": "n8n-test",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KYVqHXbH1cnVG_rrqrA4-9ny1GFJx1JfW5uj67FpMiM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $json.sheetName }}",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        832,
        1040
      ],
      "id": "aff47d38-eeba-4f49-8bb7-c803fc8f9faf",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "IJ7ketXaIkRYomuV",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const sheets = items[0].json.sheets || [];\n\nreturn sheets.map(s => ({\n  json: {\n    sheetName: s.properties.title\n  }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        384,
        960
      ],
      "id": "3feae552-0218-4c01-8478-2cb899a8cba8",
      "name": "Code in JavaScript7"
    },
    {
      "parameters": {
        "jsCode": "// Gom toàn bộ items thành 1 item duy nhất\nconst all = items.map(i => i.json);\n\nreturn [\n  {\n    json: {\n      data: all,\n      total: all.length,\n      cache_key: 'ctdt_cache'\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        992,
        944
      ],
      "id": "134e47d5-7775-44fb-bba7-559421c85868",
      "name": "Code in JavaScript8"
    },
    {
      "parameters": {
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1KYVqHXbH1cnVG_rrqrA4-9ny1GFJx1JfW5uj67FpMiM",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        112,
        960
      ],
      "id": "50dbdfc5-72d0-46f2-a6f6-721033c8bd66",
      "name": "HTTP Request2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "IJ7ketXaIkRYomuV",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "cwaeD2IY9JjRq8kr",
          "mode": "list",
          "cachedResultName": "ctdt_cache",
          "cachedResultUrl": "/projects/vBeG3fbFFxc8Ej4R/datatables/cwaeD2IY9JjRq8kr"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "cache_key",
              "keyValue": "ctdt_cache"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        320,
        176
      ],
      "id": "972c9dde-e574-4d85-8c57-73d8ac492587",
      "name": "Get row(s)1"
    },
    {
      "parameters": {
        "jsCode": "const inputJson = $input.first().json;\n\nif (!inputJson?.data) {\n  throw new Error('Cache chưa được khởi tạo. Hãy chạy workflow cache trước.');\n}\n\nlet cache;\ntry {\n  cache = JSON.parse(inputJson.data);\n} catch (e) {\n  throw new Error('Cache bị lỗi JSON.');\n}\n\nreturn [\n  {\n    json: {\n      cache_key: inputJson.cache_key, // giữ lại duy nhất field cần cho JS2\n      cache,\n      total: inputJson.total,\n      updatedAt: inputJson.updatedAt\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        160
      ],
      "id": "a958199c-3fd0-4432-9063-13d4ee7bbfa3",
      "name": "Code in JavaScript9"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        960,
        -48
      ],
      "id": "ba00f60f-7093-4d31-bb38-fc994ba5220f",
      "name": "Merge1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "493d90d0-8d2b-4a0c-a574-f02bf22b8044",
              "leftValue": "={{$json.intent}}",
              "rightValue": "CHECK_CTDT",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1648,
        -208
      ],
      "id": "a9f594a1-347a-40fc-bc34-ae3410ce2e7d",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nconst userMessageRaw = data.userMessage;\nconst ctdtData = data.ctdtData || [];\n\n// =======================\n// 1. NORMALIZE\n// =======================\nfunction normalize(str = '') {\n  return str\n    .toString()\n    .toLowerCase()\n    .normalize('NFD')\n    .replace(/[\\u0300-\\u036f]/g, '');\n}\n\n// =======================\n// 2. PARSE META MÔN HỌC\n// =======================\nfunction parseElectiveMeta(row) {\n  const rawType = normalize(row.col_9 || '');\n\n  if (rawType === 'bb') {\n    return { type: 'BB' };\n  }\n\n  const tcMatch = rawType.match(/^tc(\\d+)/);\n  if (!tcMatch) {\n    return { type: 'UNKNOWN' };\n  }\n\n  const kh = row.col_16 || 'UNK';\n  const hk = Number(row.col_2) || null;\n  const pickN = hk === 251 ? 2 : 1;\n\n  return {\n    type: 'TC_GROUP',\n    groupKey: `TC${tcMatch[1]}__KH${kh}`,\n    displayGroup: `TC${tcMatch[1]} (KH ${kh}, HK ${hk})`,\n    pickN,\n    hk\n  };\n}\n\n// =======================\n// 3. MATCH MÔN HỌC\n// =======================\nconst matchedSubjects = ctdtData.filter(row => {\n  if (!row.col_4) return false;\n  return normalize(userMessageRaw).includes(normalize(row.col_4));\n});\n\n// =======================\n// SYSTEM PROMPT (KHÓA NGỮ NGHĨA)\n// =======================\nconst SYSTEM_PROMPT = `\nBạn là hệ thống trả lời dựa trên DỮ LIỆU ĐÓNG.\n\nQUY TẮC TUYỆT ĐỐI:\n- Chỉ được sử dụng thông tin trong FACTS.\n- Không suy luận, không diễn giải mở rộng.\n- Không tạo ví dụ, không bịa môn học.\n\nKHI NGƯỜI DÙNG HỎI NHIỀU MÔN:\n- BẮT BUỘC kết luận rõ các môn vừa nêu có được chọn đồng thời hay không.\n- Nếu các môn thuộc cùng nhóm học phần tự chọn và vượt số môn cho phép:\n  + Phải nói rõ: chỉ được chọn X môn TRONG CÁC MÔN ĐÃ NÊU.\n\nYÊU CẦU:\n- Viết một đoạn trả lời hoàn chỉnh.\n- Khi đề cập điều kiện tiên quyết hoặc học trước:\n  + Phải nêu rõ môn nào có điều kiện.\n  + Phải nêu rõ điều kiện đó KHÔNG liên quan đến việc đăng ký đồng thời các môn người dùng đang hỏi (nếu đúng theo FACTS).\n- Không dùng đại từ mơ hồ như \"môn này\", \"các môn này\" mà phải liệt kê rõ ràng.\n- Không suy luận ngoài FACTS.\n\n\nNếu FACTS không đủ:\nTrả lời đúng câu:\n\"Không có thông tin trong chương trình đào tạo.\"\n`;\n\n// =======================\n// 4. KHÔNG TÌM THẤY MÔN\n// =======================\nif (!matchedSubjects.length) {\n  return [\n    {\n      json: {\n        model: 'llama-3.1-8b-instant',\n        messages: [\n          { role: 'system', content: SYSTEM_PROMPT },\n          {\n            role: 'assistant',\n            content: 'Không có thông tin trong chương trình đào tạo.'\n          }\n        ]\n      }\n    }\n  ];\n}\n\n// =======================\n// 5. GROUP CÁC MÔN TỰ CHỌN\n// =======================\nconst electiveGroups = {};\n\nfor (const row of matchedSubjects) {\n  const meta = parseElectiveMeta(row);\n\n  if (meta.type === 'TC_GROUP') {\n    if (!electiveGroups[meta.groupKey]) {\n      electiveGroups[meta.groupKey] = {\n        meta,\n        subjects: []\n      };\n    }\n    electiveGroups[meta.groupKey].subjects.push(row.col_4);\n  }\n}\n\n// =======================\n// 6. VI PHẠM LUẬT CHỌN MÔN (FIX NGỮ NGHĨA)\n// =======================\nfor (const key in electiveGroups) {\n  const group = electiveGroups[key];\n\n  if (group.subjects.length > group.meta.pickN) {\n    const FACTS = `\n- Các môn người dùng hỏi: ${group.subjects.join(', ')}\n- Nhóm học phần: ${group.meta.displayGroup}\n- Học kỳ áp dụng: ${group.meta.hk}\n- Số môn được chọn trong nhóm: ${group.meta.pickN}\n`;\n\n    return [\n      {\n        json: {\n          model: 'llama-3.1-8b-instant',\n          messages: [\n            { role: 'system', content: SYSTEM_PROMPT },\n            {\n              role: 'user',\n              content: `\nFACTS:\n${FACTS}\n\nYÊU CẦU:\n- Trả lời trực tiếp cho người dùng.\n- Phải nói rõ: trong các môn vừa nêu, sinh viên chỉ được chọn ${group.meta.pickN} môn.\n- Phải nói rõ: KHÔNG được chọn đồng thời tất cả các môn đó.\n- Không được nói chung chung về chương trình đào tạo.\n`\n            }\n          ]\n        }\n      }\n    ];\n  }\n}\n\n// =======================\n// 7. BUILD FACTS CHO TỪNG MÔN\n// =======================\nconst factsPerSubject = matchedSubjects.map((row, index) => {\n  const meta = parseElectiveMeta(row);\n\n  const prerequisite =\n    row.col_10 && row.col_10 !== 'Không'\n      ? row.col_10\n      : 'Không có thông tin trong chương trình đào tạo';\n\n  const preStudy =\n    row.col_11 && row.col_11 !== 'Không'\n      ? row.col_11\n      : 'Không có thông tin trong chương trình đào tạo';\n\n  return `\nMÔN ${index + 1}:\n- Tên môn: ${row.col_4}\n- Số tín chỉ: ${row.col_5}\n- Loại môn: ${meta.type === 'BB' ? 'Bắt buộc' : 'Tự chọn'}\n- Nhóm học phần: ${meta.type === 'TC_GROUP' ? meta.displayGroup : 'Không áp dụng'}\n- Học kỳ áp dụng: ${meta.type === 'TC_GROUP' ? meta.hk : 'Không áp dụng'}\n- Số môn được chọn trong nhóm: ${meta.type === 'TC_GROUP' ? meta.pickN : 'Không áp dụng'}\n- Điều kiện tiên quyết: ${prerequisite}\n- Điều kiện học trước: ${preStudy}\n`;\n});\n\nconst FACTS = factsPerSubject.join('\\n---\\n');\n\n// =======================\n// 8. TRẢ CHO AI\n// =======================\nreturn [\n  {\n    json: {\n      model: 'llama-3.1-8b-instant',\n      messages: [\n        { role: 'system', content: SYSTEM_PROMPT },\n        {\n          role: 'user',\n          content: `\nCÂU HỎI CỦA NGƯỜI DÙNG:\n${userMessageRaw}\n\nFACTS (MỖI MÔN RIÊNG BIỆT, KHÔNG SUY LUẬN):\n${FACTS}\n\nYÊU CẦU:\n- Viết một đoạn trả lời hoàn chỉnh.\n- Mỗi môn phải được diễn đạt RIÊNG BIỆT dựa trên FACTS.\n- Nếu có nhiều môn thuộc cùng nhóm tự chọn và vượt số môn cho phép: chỉ nêu kết luận \"chỉ được chọn X môn\" cho nhóm đó.\n- KHÔNG suy luận, KHÔNG nối điều kiện tiên quyết giữa các môn.\n- Nếu FACTS không đủ, trả lời đúng: \"Không có thông tin trong chương trình đào tạo.\"\n- Không thêm bất kỳ thông tin nào ngoài FACTS, kể cả điều kiện tiên quyết không có trong FACTS.\n`\n        }\n      ]\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2032,
        -256
      ],
      "id": "5e959a9f-ece6-47b9-8905-059ebbd6ec3c",
      "name": "Code in JavaScript10"
    }
  ],
  "connections": {
    "Webhook1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get row(s)1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert row(s)": {
      "main": [
        []
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Code in JavaScript5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript4": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript5": {
      "main": [
        [
          {
            "node": "Upsert row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript6": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Code in JavaScript8",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Code in JavaScript6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript7": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript8": {
      "main": [
        [
          {
            "node": "Upsert row(s)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Code in JavaScript7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)1": {
      "main": [
        [
          {
            "node": "Code in JavaScript9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript9": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Code in JavaScript10",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript10": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fe592d97760b30915ddde711d60e9a8ed69094554c2d8212edb422f325f8845c"
  }
}
