n8n
{
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1KYVqHXbH1cnVG_rrqrA4-9ny1GFJx1JfW5uj67FpMiM",
          "mode": "list",
          "cachedResultName": "n8n-test",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KYVqHXbH1cnVG_rrqrA4-9ny1GFJx1JfW5uj67FpMiM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Trang tính1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KYVqHXbH1cnVG_rrqrA4-9ny1GFJx1JfW5uj67FpMiM/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -32,
        192
      ],
      "id": "c18eb5a7-62ea-4ec7-9609-76115d147079",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "sH2A0n6keNaQT7Um",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat-test",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -432,
        -64
      ],
      "id": "62b6194b-e620-48fc-8141-62110bee8dc1",
      "name": "Webhook1",
      "webhookId": "52b9988d-9d1e-4c64-832b-6d505e3f3b1e"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer API KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "HTTP-Referer",
              "value": "http://localhost"
            },
            {
              "name": "X-Title",
              "value": "n8n-chat"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        608,
        -48
      ],
      "id": "633c25dc-02ab-486c-80bb-691f527d62a8",
      "name": "HTTP Request1",
      "retryOnFail": true
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1KYVqHXbH1cnVG_rrqrA4-9ny1GFJx1JfW5uj67FpMiM",
          "mode": "list",
          "cachedResultName": "n8n-test",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KYVqHXbH1cnVG_rrqrA4-9ny1GFJx1JfW5uj67FpMiM/edit?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -208,
        192
      ],
      "id": "be6d48fd-b27b-4c19-bdc1-b91a4deb5dce",
      "name": "Download file",
      "executeOnce": false,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "TKmCUhlqWombaJjt",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        144,
        -48
      ],
      "id": "39e85108-c648-4461-b8a6-973ed65a4d5f",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "// Lấy tất cả items\nconst allItems = $input.all();\n\n// Lấy user message từ item đầu tiên\nconst userMessage = allItems[0].json.body.message;\n\n// Lấy data từ Google Sheet (bỏ qua item đầu tiên - webhook)\nconst googleSheetData = allItems.slice(1).map(i => i.json);\n\n// Tạo payload\nconst payload = {\n  model: \"amazon/nova-2-lite-v1:free\",\n  messages: [\n    {\n      role: \"user\",\n      content: `User message: ${userMessage}\n\nĐây là dữ liệu từ Google Sheet và bạn chỉ được trả lời từ nội dung trong đây và nếu người dùng hỏi ngoài nội dung trong đây thì trả lời \"Không hợp lệ\":\n${JSON.stringify(googleSheetData, null, 2)}`\n    }\n  ]\n};\n\nreturn [{ json: payload }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        384,
        -48
      ],
      "id": "f9df8a9c-4773-4416-95e2-9249121fcb8f",
      "name": "Code in JavaScript"
    }
  ],
  "connections": {
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        []
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "941d1cd3fbcf3ae0a5b44c0d386646832139e688803f2b4fb56ed4e54751cb10"
  }
}
